<script>
  $("#btnlike").click(function(){
    alert("You are Like is Post");
   });
  $.ajax({
    url: '{% url '' %}',
    data: {'username': username},
    success: function (data) {   
        alert("A user with this username already exists.");    }
  });
  
 </script>


<script>
  $("#btnlike").click(function(){
    alert("You are Like is Post");
    let likes = $("id_likes").val();
    alert("Welcome")
  };
  $.ajax({
    data: {'username': id_likes},
    url:''
    success: function (data) {   
        alert("A user with this username already exists.");  
    }
  
  });
  
 </script>


<a class="btn btn-outline-success" id="btnlike" href="#">Like{{i.likeusers}}</a>
     <p>{{i.likeuser}}</p>
$.ajax({
        method:"Post"
        url: url, 
        data:{
          'post_id':post_id,

        },
        success: function(response){
          console.log('success',response)
        },
        error : function(response){
          console.log('error',response)
        }
      });


# data = {
        #     'value': like.value,
        #     'likes': post_obj.liked.all().count()
        # }


path('', post_comment_create_and_list_view, name='main-post-view'),
path('liked/', like_unlike_post, name='like-post-view'),
<script src="{% static 'enroll/js/jquery.min.js' %}"></script>